				Inline > Internal > External

		 -->
		<!-- nav is a semantic container. It should contain links or it should be used for navigation.-->
		<nav id="top">
			<a href="#landing">Zuitt</a>
			<div>
				<a href="#landing">Landing</a>
				<a href="#register">Register</a>
			</div>
		</nav>
		<!-- end of nav -->

		<h1>Hello World! We are Batch 169!</h1>
		<h2>Welcome to Zuitt!</h2>
		<!-- id is added to an element to add particular identifier for that element. id's should be unique in an html document. id's can be used to specifically target a single element with unique styling. This is the best approach to individually or specifically style an element without the use of inline styling. -->
		<h3 id="zuitt-motto">Opportunities for Everyone, Everywhere!</h3>
		<img src="https://place-puppy.com/450x450" alt="a scary image">
		<ol>
			<!-- class is added to be able to target multiple elements and style them together. With class, we are able to group elements and style the elements with the particular class. 

				id and class names are user defined.
			 -->
			<li class="offering-item">Day Classes</li>
			<li class="offering-item">Night Classes</li>
			<li class="offering-item">Intro to Coding Events</li>
		</ol>
		<h2>Register</h2>
		<form>
			<label for="first-name">First Name</label>
			<input type="text" name="fname" id="first-name" required autocomplete>

			<label for="last-name">Last Name</label>
			<input type="text" name="lname" id="last-name" required autocomplete>

			<label for="email">Email</label>
			<input type="email" name="emailAdd" id="email" required autocomplete>

<!-- 			<label for="bday">Birthday</label>
			<input type="date" name="birthday" id="bday">

			<label for="msg">Message:</label>
			<textarea name="message" id="msg" rows="8" required></textarea> -->

			<button type="submit">Apply Now</button>
		</form>
		<section id="landing">
			<!-- use ctrl+shift+v to paste it cleanly or to retain the indentions. -->
			<h2>Welcome to Zuitt!</h2>
			<!-- id is added to an element to add particular identifier for that element. id's should be unique in an html document. id's can be used to specifically target a single element with unique styling. This is the best approach to individually or specifically style an element without the use of inline styling. -->
			<h3 id="zuitt-motto">Opportunities for Everyone, Everywhere!</h3>
			<img src="https://place-puppy.com/450x450" alt="a scary image">
			<ol id="bootcamp-learning-list">
				<!-- class is added to be able to target multiple elements and style them together. With class, we are able to group elements and style the elements with the particular class. 

					id and class names are user defined.
				 -->
				<li class="offering-item">Day Classes</li>
				<li class="offering-item">Night Classes</li>
				<li class="offering-item">Intro to Coding Events</li>
			</ol>
			<!-- adding an id as the href of an anchor tag allows us to link to that element in the page -->
			<a href="#top">Back To Top</a>
		</section>
		<section id="register">
			<!-- lessen indention by selecting the elements/lines you want to lessen indention then use shift+tab -->
			<h2>Register</h2>
			<form>
				<label for="first-name">First Name</label>
				<input type="text" name="fname" id="first-name" required autocomplete>

				<label for="last-name">Last Name</label>
				<input type="text" name="lname" id="last-name" required autocomplete>

				<label for="email">Email</label>
				<input type="email" name="emailAdd" id="email" required autocomplete>

	<!-- 			<label for="bday">Birthday</label>
				<input type="date" name="birthday" id="bday">

				<label for="msg">Message:</label>
				<textarea name="message" id="msg" rows="8" required></textarea> -->

				<button type="submit">Apply Now</button>
			</form>
			<a href="#top">Back To Top</a>
		</section>
	</body>
</html>
