/*p {
	color:  yellow;
}*/

#instruction3 {
	color: yellow;
}

/*instruction 4*/
*	{
		font-family: "Verdana"; sans-serif;
		font-size: 20px;
	}

/*instruction 5*/
h1 {
		font-size: 2rem;
	}

/*instruction 6*/
#instruction6{
	text-transform: uppercase;
}

/*instruction 7*/
.instruction7 {
	background-color: #90ee90;
}

/*instruction 7*/
.Instruction7 {
	font-weight: normal;
}

/*instruction 8*/
.Instruction8 {
	border-style: solid;
	border-color: rgb(0,0,255);
	border-width: 2px;
}

/*Instruction 9*/
ul /*+ li*/ {
	list-style-type: none;
}

/*instruction 10*/
img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

/*instruction 11*/
ul ~ p {
	text-align: center;
		color: black;
}

/*instrucion 12*/
ul > li {
	letter-spacing: 10px;

}